<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=100, initial-scale=1.0" />
        <title>Welcome to Bidsinfoglobal</title>
    </head>
    <body>
        <p>Welcome to Bidsinfoglobal!</p>
        <p>We are pleased to offer you our services for a period of 7 Days.</p>
        <p>
            Below are the Access Details for your trial membership to
            <a
                href="http://www.bidsinfoglobal.com"
                target="_blank"
            >www.bidsinfoglobal.com</a>
            During this period you will be able to enjoy all privileges of a
            member.
        </p>

        <table
            style="
                display: table;
                border-collapse: separate;
                box-sizing: border-box;
                text-indent: initial;
                border-spacing: 2px;
                border-color: gray;
                background: #f7f7f7;
            "
        >
            <tr>
                <td style="padding: 5px">User Id</td>
                <td style="padding: 5px">{{user_id}}</td>
            </tr>
            <tr>
                <td style="padding: 5px">Password</td>
                <td style="padding: 5px">{{password}}</td>
            </tr>
            <tr>
                <td style="padding: 5px">Account Validity</td>
                <td style="padding: 5px">{{validity}}</td>
            </tr>
        </table>

        <p>
            We request you to add d.bidsalerts@bidsinfoglobal.com to your white
            list / safe sender list. Else, your mailbox filter or ISP (Internet
            Service Provider) may stop you from receiving our daily email
            alerts.
        </p>

        <p>
            You may log on to www.bidsinfoglobal.com and search business
            opportunities that interest you.
        </p>

        <p>Trial Membership Services include:</p>
        <p>
            <strong>Trial Package:</strong>
            which covers information on Tenders, Bids, RFP, Prequalification,
            Procurement Forecasts, Expression of Interest. The digest will
            contain only those opportunities that exactly match your product
            profile and target market.
        </p>
        <p>
            <strong>Standard Package: </strong>
            that covers Projects and recent Public Grants. Projects, which come
            much before tenders in the project lifecycle, are "broad" notices
            indicating the sector in which the buyer will procure goods or
            services in future. Grants are financial awards provided by
            organizations, governments, or institutions to individuals or groups
            for specific purposes, often to support projects, research,
            education, or community initiatives.
        </p>
        <p>
            <strong>Key Account Manager</strong>
            to gather more information assist you on any tender or project that
            you may be interested in (at no additional costs). Key Account
            Managers will try their best to make available to you, the Schedule
            of Requirements or Scope of work or even a draft copy of the tender
            document of various tenders before you make an investment in
            purchasing the tender document.
        </p>

        <p>
            We hope that at the end of this period you will be in a position to
            decide whether our service offers you the information and value that
            you are looking for.
        </p>

        <p>
            Please do not hesitate to contact us if you need any assistance or
            clarification with regard to our service.
        </p>
        <p>
            We look forward to becoming your one-point source for all tender
            related information and services.
        </p>

        <p>Thank you.</p>

        <p>Best Regards,</p>
        <p>The BIG Team</p>
    </body>
</html>